<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class = "nuestroForm" action = "/users/login" method="POST"> 
				<label class="form-label">
					Email
				</label>
				<input class="form-input" type="email" name="mail" id="email" required>

				<label class="form-label">
					Contraseña
				</label>
				<input class="form-input" type="password" name="contrasenia" id="password" minlength='4' required>
				<label class="form-label">
					Recordarme
				</label>
				<input type="checkbox" name="recordarme" id="recordarme">
				
				<button class="buy-now-button buttonRegister" type="submit">Login</button>

			</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>