<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class = "nuestroForm" action = "/patitos" method="get"> 

				<label class="form-label">
					Imagen
				</label>
				<input class="form-input" type="image" name="image" id="image" required>

				<label class="form-label">
					Nombre del Producto
				</label>
				<input class="form-input" type="text" name="product" id="product" required>

				<label class="form-label">
					Descsripcion
				</label>
				<input class="form-input" type="text" name="Descripción" id="Descripción" required>

				<button class="buy-now-button buttonRegister" type="submit">Agregar Producto</button>

			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>