<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<% if (locals.usuario) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formPropio formRegister" action="" method="get">

				<label class="form-label">
					Email
				</label>
				<input class="form-input" type="email" name="email" id="email" required>

				<label class="form-label">
					Usuario
				</label>
				<input class="form-input" type="text" name="username" id="username" required>

				<label class="form-label">
					Contraseña
				</label>
				<input class="form-input" type="password" name="password" id="password" required>

				<label class="form-label">
					Fecha de nacimiento
				</label>
				<input class="form-input" type="date" name="nacimiento" id="nacimiento" required>

				<label class="form-label">
					Número de documento
				</label>
				<input class="form-input" type="number" name="dni" id="dni" required>

				<label class="form-label">
					Foto de perfil
				</label>
				<input class="form-input" type="text" name="foto" id="foto" required>

				<button class="buy-now-button buttonRegister" type="submit"> Guardar cambios</button>
			</form>



	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>